body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-menu {
  width: 12rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.content-filter {
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}

.content-filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-filter-action {
  display: flex;
  justify-content: center;
}

.content-filter-fields {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.content-filter-fields span {
  margin-right: 10px;
  margin-left: 10px;
}

.table{
  text-align: center;
}

h2{
  text-align: center;
}

.add-User-wrapper, .update-User-wrapper{
  text-align: center;
}

.add-user-fields, .update-user-fields{
  margin-top: 20px;
  margin-bottom: 20px;
}