body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-menu {
  width: 15%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: inline-block;
  background-color: white;
}

.content {
    display: inline-block;
    width: 85%; 
    background-color: yellow;
    right: 0px;
}